
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    </head>
<body>
<div>
    <table style="position: center">
        <tr><td><a href="http://localhost:50987/Member/Add">Member Entry</a></td></tr>
        <tr><td><a href="url">Order for Food</a></td></tr>
        <tr><td><a href="url">View Report</a></td></tr>
    </table>           
</div>
</body>
</html>
